*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
gradle/
app/src/main/java/net/masaic/zz/activity/LocationActivity.java
app/release/app-release.apk
app/release/output.json
